/*================== ACTU ==================*/

.actu {
	background-color: #d8d9db;
}
.actu h2 {
	width: 100%;
}

.actu h3 {
	color: #504f54;
	font-weight: bold;
}

/*== END - ACTU =============================*/